apiVersion: apps/v1
kind: Deployment 
metadata:
  name: zero-downtime-api
  labels:
    app: zero-downtime
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: zero-downtime
  template:
    metadata:
      labels:
        app: zero-downtime
    spec:
      containers:
        - name: fastapi-container
          image: dhiraj918106/zero-downtime-api:latest
          imagePullPolicy: Always
          ports:
          - containerPort: 80
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service 
metadata:
  name: zero-downtime-service
spec:
  selector:
    app: zero-downtime
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
